/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #462108;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.register-wrapper {
    position: relative;
    left: 80%;
    background: rgba(24, 23, 23, 0.37);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    color: #333;
}

.register-header {
    margin-bottom: 20px;
}

.register-header h2 {
    font-weight: 600;
    margin-bottom: 5px;
    color: #fff;
}

.register-header p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    transition: border 0.3s;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    pointer-events: none;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
    border-color: #fff;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #ffffff;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s;
}

.toggle-password:hover {
    color: #fff;
}

.login-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #fff;
    color: #000
}

img {
    position: absolute;
    height: 100%;
    left: 0px;
}